nextflow.enable.dsl=2

params {
    outdir = "/home/biouser/learning/variant_calling/HCC/results"
    ref = "/mnt/data/chandini/REFERENCES/HOMO_SAPIENS_ASSEMBLY_38/Homo_sapiens_assembly38.fasta"
    ref_parent = "/mnt/data/chandini/REFERENCES/HOMO_SAPIENS_ASSEMBLY_38/"
    known_sites = "/mnt/data/chandini/REFERENCES/DBSNP/HUMAN/Homo_sapiens_assembly38.dbsnp138.vcf.gz"
    variant_call = "/home/biouser/learning/variant_calling/HCC/results/variants"
    snpeff_db = "GRCh38.115"
    snpeff_db_dir = "/mnt/data/chandini/REFERENCES/SNPEFF"
    mode = "single" // or "multi"
    threads = 8
}



profiles {
    conda {
        conda.enabled = true
    }
}


